body{
    background-color: rgb(205, 222, 204);
}
#mydiv{
    padding: 4%;
    padding-left: 6%
}
.events{
    background-color: rgba(255,255,255,0.5);
}
.heading1{
    color:#000000;
}
.infos{
    color:#33acff !important;
}
.by{
    color: #00ff00 !important;
}